h2{
    text-align: center;
    margin-bottom: 2%;
    border: solid black 2px;
    background-color: yellow;
    
}
#spazi{
    justify-content: space-between;
}
#logo{
    transform: scale(1);
    width: 100%;
    margin-bottom: 2%;

}
#jumbo{
    text-align: center;
    padding: 0;
    
}
h3{
    text-align: center;
    margin-bottom: 5%;
    margin-top: 5%;
    border: solid black 2px;
    background-color: yellow;
}
